* {
   box-sizing: border-box;
   margin: 0;
}

html,
body {
   font-family: "Montserrat", sans-serif;
   background-color: #f4ebdb;
   color: #2c4a52;
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   height: 100vh;
}

a {
   text-decoration: none;
}

.main {
   display: flex;
   flex-direction: row-reverse;
   margin: 0 auto;
   width: 1100px;
   &__content {
      box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
      padding: 90px 90px;
   }
   &__column {
      background-color: #537072;
      padding-top: 70px;
      width: 1000px;
   }
}

.title {
   font-weight: 700;
   font-size: 22px;
   line-height: 1.2;
   margin: 45px 0 15px;
}

.about {
   margin-bottom: 65px;
   &__name {
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 1.6;
      margin-bottom: 20px;
   }
   &__position {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 0.85;
   }
   &__description {
      font-family: "Montserrat";
      line-height: 24px;
      color: #537072;
   }
}

.project {
   margin-bottom: 30px;
   &__list {
      padding: 0;
      margin-left: 15px;
      transition: all 0.8s;
      a:hover {
         text-decoration: underline;
      }
   }
}

.item {
   font-weight: 700;
   line-height: 1.7;
   color: #537072;
   &__link {
      line-height: 1.7;
      color: #537072;
      margin-left: 10px;
   }
}

.span-bracket {
   line-height: 1.7;
   color: #537072;
}

.work {
   &__list {
      padding: 0;
      margin-left: 15px;
   }
}

.position {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.25;
   margin: 15px 0 10px;
}

.period {
   font-size: 12px;
   line-height: 15px;
   color: #8e9b97;
   margin-bottom: 10px;
}

.organization {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.25;
   color: #537072;
   padding-left: 10px;
}

.work-list {
   &__item {
      line-height: 1.5;
      color: #537072;
   }
}

.direction {
   font-weight: 700;
   line-height: 17px;
   margin-top: 10px;
}

/* sidebar */

.photo {
   display: block;
   margin: 0 auto;
   width: 80%;
   margin-bottom: 40px;
   border-radius: 20px;
}

.contacts,
.tech-skills,
.soft-skills {
   &__title {
      color: #f4ebdb;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 10px;
   }
   margin-left: 40px;
}

.contacts,
.tech-skills {
   margin: 50px;
}

.contact-type {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.7;
   color: #f4ebdb;
   margin-right: 10px;
}

.contact-link {
   display: block;
   line-height: 2.4;
   color: #f4ebdb;
   transition: color 0.5s;
   &:hover {
      color: #a8a6a0;
   }
}

.tech-skills-list,
.soft-skills-list {
   color: #f4ebdb;
   padding-left: 0;
   margin-left: 18px;
}

.tech-skills-item a,
.soft-skills-item {
   color: #f4ebdb;
   &:hover {
      color: #a8a6a0;
   }
}

.tech-skills-text,
.soft-skills-text {
   color: #f4ebdb;
   line-height: 2.4;
}

.icon {
   color: #f4ebdb;
   margin-right: 5px;
}
